.addInput {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #eee;
    width: 500px;
}

.addBtn {
    cursor: pointer;
    background-color: #237A05;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    padding: 10px 20px;
    color: #fff;
    transition: .2s;
}

.addBtn:hover {
    background-color: #197000;
}

.addBtn:active {
    background-color: #0F6600;
}